# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.dll
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lib
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Compiled Bytecode
*.class
*.py[cod]

# Package Files
*.jar
*.war
*.ear
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Translations
*.mo

# Qt Files
moc_*.cpp
qrc_*.cpp
ui_*.h
*.pro
Makefile

# Custom
.gitignore
.*.swp
.*.swo
fromegle
